PORT=3000
DB_HOST=127.0.0.1
DB_PORT=27017
DB_NAME=six-cities
DB_USER=admin
DB_PASSWORD=test
SALT=random_salt_value
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=test
MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=test
